.date-btn {
  width: 128px;
  min-width: 40;
  margin-right: 4px;
}

.date-btn-selected {
  width: 128px;
  min-width: 40;
  margin-right: 4px;
  background-color: #b9bdc081;
}

.date-label-text {
  line-height: 30px;
  font-size: 14px;
  font-weight: 600;
  margin-left: 20px;
  /* color: #646a74; */
}

.date-picker-calendar-container {
  max-width: 800;
  margin: 0 auto;
  text-align: center;
}

.date-picker-calendar-wrapper {
  display: inline-block;
  padding: 0 10px 30px;
  box-sizing: border-box;
}

.date-picker-calendar-month-year-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 4px;
}

.date-picker-previous-next-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.date-picker-weekday {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: none;
  background: transparent;
}

.date-picker-week {
  display: inline-block;
  width: 32px;
  border: none;
  background: transparent;
}

.date-picker-get-date {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 9999px;
  /* background */
}
